.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-template-rows: repeat(auto-fit, auto);
  list-style: none;
  column-gap: 20px;
  row-gap: 40px;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.cards {
  padding: 20px 0 40px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 1280px;
  margin: 0 auto;
}



@media screen and (max-width: 630px) {
  .cards {
    padding-bottom: 20px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
    flex-direction: column;
  }

  .cards__list-title {
    font-size: 16px;
    max-width: 235px;
  }
}
