.card__like-button {
  background-color: transparent;
  border: 0;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/Liked.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/Delete.svg);
  background-color: transparent;
  border: 0;
}

.card__delete-button:hover {
  background-image: url(../images/deleteHover.svg);
  cursor: pointer;
}

.card {
  max-height: 445px;
  position: relative;
}

.card__description {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  max-width: 413px;
  width: 100%;
}

.card__list-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 120%;
  color: #212121;
  max-width: 353px;
}

.card__list-photos {
  display: block;
  max-width: 413px;
  height: 413px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .card__list-photos {
    display: block;
    max-width: 288px;
    height: 288px;
  }
}
