.card__like-button {
  background-color: transparent;
  border: 0;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.card {
  max-height: 445px;
}

.card__description {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  max-width: 413px;
  width: 100%;
}

.card__list-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 120%;
  color: #212121;
  max-width: 353px;
}

.card__list-photos {
  display: block;
  max-width: 413px;
  height: 413px;
  width: 100%;
  border-radius: 8px;
}

@media screen and (max-width: 630px) {
  .card__list-photos {
    display: block;
    max-width: 288px;
    height: 288px;
  }
}
